.c--btn-a {
    background:map-get($color-options, a );
    padding:$measure;
    color:map-get($color-options, b );
    &:hover{
        background:map-get($color-options, f );
    }
    &--second{
        background:map-get($color-options, e );
    }
    &--is-active{
        background:map-get($color-options, d);
    }
    
}